<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head>
    <title>Order.it - Offer</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        body{
            background-color: #efeff1;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% 100%;
        }
    </style>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top" style="margin:0 auto;">
    <div style="position: fixed; margin-left: 330px; margin-top: 10px;">
        <img src="../static/img/logoorderit.png" th:src="@{/static/img/logoorderit.png}" alt="infographic" style="width: 80px;"/>
    </div>
    <div class="container"style="marign: auto; margin-left: 400px;">
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class=""><a href="/home">Home</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li class=""><a href="/myOrders">My Orders</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li class=""><a href="/messages">Message's box</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li class=""><a href="/logout">Logout</a></li>
            </ul>
        </div>
    </div>
</div>
<div th:each="shop : ${shop}" class="card" style="margin:0 auto; width:400px; margin-top: 20px;">
    <h5 class="card-header" th:text="${shop.shopName} + ', ' + ${shop.shopTown} + ' ' + ${shop.shopRoad}"></h5>
    <div class="card-body">
        <h5 class="card-title" th:text="${shop.shopType}"></h5>
        <p class="card-text" th:text="${shop.shopDescription}"></p>
        <form th:href="@{'/offer/' + ${shop.shopTown} + '-' + ${shop.shopAmenity} + '-' + ${shop.shopName} }" method="POST" class="form-signin" th:width="100">
        <div class="form-group">
            <label for="serviceType">Select your service:</label>

            <select class="form-control" id="serviceType" name="serviceType">
                <option>- not selected -</option>
                <div th:each="providedServices : ${providedServices}" class="card">
                    <option>
                        <h5 class="card-title" th:text="'['+${providedServices.sex} + '] ' +
                                        ${providedServices.serviceName}+ ', ' +
                                        ${providedServices.price} + '[$],-'">
                        </h5>
                    </option>
                </div>
            </select>

        </div>
            <label for="serviceType">Choose the best time for you:</label>
            <div class="input-group mb-3" style="width:120px;">
                <input type="text" class="form-control" id="dateInString" name="dateInString" placeholder="ex. 01-01-2021 8:00">
            </div>
            <label for="commentsOnOrder">Comments regarding the order:</label>
            <div class="form-group">
                <textarea class="form-control" id="commentsOnOrder" name="commentsOnOrder" rows="3" placeholder="ex. 'I also want to wash my head'"></textarea>
            </div>
        <button class="btn btn-lg btn-primary btn-block" name="Submit" value="Order" type="Submit" th:text="Order" th:href="@{'/myOrders'}" ></button>
    </form>
    </div>
</div>
<div class="navbar fixed-bottom" style="position:fixed; margin-bottom: auto;">
    <div class="card-footer text-muted" style="margin-left: 0px; width: 2300px;">
        Order.it - 2021
    </div>
</div>
</body>
</html>